# Cache and generated or secret configs.
/.bash_history
/.cache
/.docker
/.gnupg
/.keychain
/.lesshst
/.local
/.viminfo
/.zcompdump-*
/.zshenv
/.zshrc
*.swp

# Large data sets not stored in git.
/Documents
/Music
/Photos
/Videos
/backup
/media
/tmp
