# Cache and generated or secret configs.
/.bash_history
/.cache
/.docker
/.gnupg
/.keychain
/.lesshs*
/.local
/.python_history
/.viminfo
/.zcompdump-*
/.zshenv
/.zshrc
*.log
*.swp
*.unison.tmp

# Large data sets not stored in git.
/Documents
/Music
/Photos
/Videos
/backup
/media
/tmp
