# The initial data copy for the image build doesn't need .git.
**/.git
**/*.tar
workspace/bazel-*
workspace/third_party/android/android-ndk-r*
workspace/third_party/android/sdk
workspace/third_party/javacpp
